/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require weather-icons
 *= require font-awesome
 *= require ui
 *= require owl.carousel
 *= require owl.theme
 *= require jquery.bxslider.css
 *= require main
 *= require jquery.bxslider
 *= require_self
 */

 .addnewapt {
  float: right;
 }

 .addnewapt:hover, .addnewcollab:hover, .addnewimg:hover {
  text-decoration: none;
 }

.form.row {
  margin: 0 auto;
}

div.addnewcollab, div.addnewimg {
  display: inline;
  float: right;
}

.text-muted.text-small {
  font-size: 1em;
}

.modal-content {
  z-index: 3000;
}

.bxslider li {
  margin-left: -40px;
}

.bxslider li img {
  width: 100%;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.bx-viewport {
  min-width: 50%;
  max-width: 100%;
  min-height: 100px;
  max-height: 400px;
  padding: 0;
  margin-bottom: 30px;
}

.bx-wrapper {
  margin: 0 auto;
}

.bx-controls-direction {
  text-align: center;
}

.page-tasks .task-list .view {
  padding: 0px;
  border-bottom: 1px solid #ddd;
}

.page-tasks .task-list .view label {
  width: auto;
  padding-left: 15px;
}

.pro-label {
   border-color: #ddf7eb;
   background-color: #f2fcf9;
/*   color: #229173;
*/}

.con-label {
   border-color: #fad7db;
   background-color: #fdefee;
/*   color: #b13d31;
*/}
